@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --bg-color: #242424;
  --white: rgb(240, 240, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

body {
  background-color: var(--bg-color);
}
